@import url(https://fonts.googleapis.com/css?family=Oswald);

:root{
    --background: #000;
    --text: #fff;
    --highlight: #ff1ead;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
    background-image: url("imagens/782781.png");
   
  }

  .fundo{
    margin: 98px;
    background-image: url(imagens/782781.png);
    background: no-repeat;
    background-size: auto;
    position: relative;
    text-align: center;
  }
  
  header {
    background-color:#1765bd;
    color: #b6a336;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .game-card {
    background-color: #fff;
    background-image: url(imagens/cfc5c7a445516540bcbe7d72d246a881.jpg);
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
  }
  
  .game-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  h2 {
    font-size: 1.8rem;
    margin: 10px 0;
  }
  
  p {
    font-size: 1rem;
    color: #555;
  }

  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #555;
  }